<app-spinner *ngIf="isLoading" ></app-spinner>
<div *ngIf="false" class="pgLoader ldrBig"><img alt="logo"
		src="http://gharbaar.com/assets/site/projects/e-park/logo.svg" class="loaderImage"></div>
<div class="fixedCtaBtns d-sm-none d-flex align-items-center justify-content-center stickyBtns"><a routerLink="/BookConsultation"
		class="ctaBtn ctaDark">
		Book Consultation </a></div>
<section class="topNavLogo">
	<div class="navInner">
		<div class="logo-m">
			<a routerLink="/"><img src="assets/logo_townOaks2.png" alt="logo top" class="dsk-view"></a>
		</div>
		<div class="headerCta"><a rel="nofollow" routerLink="/BookConsultation" class="ctaBtn rippleAnimWrap"> Book
				Consultation <span class="rippleAnim"></span></a></div>
	</div>
</section>
<section class="headerPadding"></section>
<section class="">
	<div class="units-wrapper">
		<div class="filter_wrap position-relative">
			<div class="filter_inner">
				<div class="filters_left">
					<div class="breadcrums_wrap">
						<ul>
							<li><a routerLink="/">Home</a></li>
							<li>Choose Unit</li>
						</ul>
					</div>
					<h1>Pricing and Availability</h1>
					<div #unit class="unit_type_btn">
						<button (click)="filterClick($event)" name="unit_2 bed" class="btn">2 Bed Apartment</button>
						<button (click)="filterClick($event)" name="unit_3 bed" class="btn">3 Bed Apartment</button>
						<button (click)="filterClick($event)" name="unit_4 bed" class="btn">4 Bed Apartment</button>
						<br/>
						<button (click)="filterClick($event)" name="unit_shop" class="btn mt-5">Shops</button>
						<button (click)="filterClick($event)" name="unit_office" class="btn mt-5">Offices</button>
					</div>
					<div class="filters_outer_wrap position-relative">
						<button (click)="showFilterDialog()" name = "dialog"
							class="ft_toggle_btn mx-auto d-md-none d-flex justify-content-between align-items-center"><span
								class="show_text" >Show Filters</span><span class="hide_text">Hide Filters</span><i
								aria-hidden="true" class="fa fa-caret-down"></i></button>
						<div #dialog class="fi_wrap">
							<div class="residential_filters filters_div">
								<div class="item_filter">
									<label for="">Status</label>
									<div #status class="status_btn">
										<button (click)="filterClick($event)" name="status_available" class="">Available</button>
										<button (click)="filterClick($event)" name="status_sold" class="">Sold</button>
										<button (click)="filterClick($event)" name="status_reserved" class="">Reserved</button>
									</div>
								</div>
								<div class="filter_action_btn">
									<button class="done_filter d-md-none d-flex mr-3" (click)="doneFilters()" >Done <i aria-hidden="true"
											class="fa fa-check"></i></button>
									<button (click)="clearAllFilters()" class="clear_filter">Clear All <i
											aria-hidden="true" class="fa fa-times"></i></button>
								</div>
							</div>
							<div class="food_court_filters filters_div d-none">
								<div class="item_filter">
									<label for="">Floor</label>
									<div class="floor_btn">
										<button>2</button>
									</div>
								</div>
								<div class="item_filter">
									<label for="">Status</label>
									<div class="status_btn">
										<button>Available</button>
										<button>Sold</button>
										<button>Reserved</button>
									</div>
								</div>
								<div class="filter_action_btn">
									<button class="done_filter d-md-none d-flex mr-3">Done <i aria-hidden="true"
											class="fa fa-check"></i></button>
									<button class="clear_filter" (click)="clearAllFilters()">Clear All <i
											aria-hidden="true" class="fa fa-times"></i></button>
								</div>
							</div>
							<div class="shops_filters filters_div d-none">
								<div class="item_filter">
									<label for="">Floor</label>
									<div class="floor_btn">
										<button>G</button>
										<button>M</button>
										<button>1</button>
									</div>
								</div>
								<div class="item_filter">
									<label for="">Status</label>
									<div class="status_btn">
										<button>Available</button>
										<button>Sold</button>
										<button>Reserved</button>
									</div>
								</div>
								<div class="filter_action_btn">
									<button class="done_filter d-md-none d-flex mr-3">Done <i aria-hidden="true"
											class="fa fa-check"></i></button>
									<button class="clear_filter">Clear All <i aria-hidden="true"
											class="fa fa-times"></i></button>
								</div>
							</div>
							<div class="filterOverlay"></div>
						</div>
					</div>
				</div>
				<div  class="filters-right">
					<div class="unitSticker"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px"
							viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
							<defs>
								<path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 ">
								</path>
							</defs>
							<circle cx="150" cy="100" r="75" fill="none"></circle>
							<g>
								<use xlink:href="#circlePath" fill="none"></use><text fill="#C99827">
									<textPath xlink:href="#circlePath">{{unitsLen}} Units Left.
									</textPath>
									<!---->
									<!---->
									<!---->
									<!---->
								</text>
							</g>
						</svg></div>
				</div>
			</div>
		</div>

		<div *ngIf="priceTableListData.length == 0" class="filter_results_mob"><!----><p  class="noMoreText">Check Other Available Unit.</p><!----></div>
		
		<div *ngIf="priceTableListData.length != 0" class="filter_results d-md-block d-none">
			<div id="choose_unit_table" class="table-responsive tableFixHead">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th style="min-width: 100px;">Unit No.</th>
							<th style="min-width: 70px;">Floor</th>
							<th style="min-width: 100px;">Beds</th>
							<th style="min-width: 125px;">Area, Sq. ft.</th>
							<th style="min-width: 175px;">Type</th>
							<th style="min-width: 130px;">Price, Sq. ft.</th>
							<th>Total Price</th>
							<th>Down Payment</th>
							<th style="width: 185px;">Monthly Installment <span>(12)</span></th>
							<th style="width: 185px;">Semi Annual Installment <span>(2)</span></th>
							<th style="width: 200px;">Possession</th>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let item of priceTableListData"  (click)="navigate(item)"
							[className]="(item.status.toLowerCase() == 'sold')&&'sold'" >
							<td>
								<a>
									<p>{{item.number}}</p>
								</a>
							</td>
							<td>
								<a>
									<p>{{item.floor}}</p>
								</a>
							</td>
							<td>
								<a>
									<p>{{item.beds}}</p>
								</a>
							</td>
							<td>
								<a>
									<p>{{item.area | number:'1.0-2'}}</p>
								</a>
							</td>
							<td>
								<a> <span class="tdText">{{item.type}}</span> </a>
							</td>
							<td>
								<a>
									<p>{{item.priceSqFeet | number:'1.0-2'}}</p>
								</a>
							</td>
							<td>
								<a>
									<p *ngIf="item.status.toLowerCase() != 'sold'">{{item.totalPrice | number:'1.0-2'}}</p>
									<div *ngIf="item.status.toLowerCase() == 'sold'" class="tpWrap sold">
										<span class="statusText" style="text-transform: uppercase;">Sold</span>
									</div>
								</a>
							</td>
							<td>
								<a>
									<p> <span>{{(item.status.toLowerCase() != 'sold')?(item.downPayment | number:'1.0-2'):"-"}}</span> </p>
								</a>
							</td>
							<td>
								<a>
									<p> <span>{{(item.status.toLowerCase() != 'sold')?(item.monthlyInstallment | number:'1.0-2'):"-"}}</span> </p>
								</a>
							</td>
							<td>
								<a>
									<p> <span>{{(item.status.toLowerCase() != 'sold')?(item.semiAnnualInstallment | number:'1.0-2'):"-"}}</span> </p>
								</a>
							</td>
							<td>
								<a>
									<p> <span>{{(item.status.toLowerCase() != 'sold')?(item.monthlyInstallment | number:'1.0-0') :"-"}}</span> </p>
								</a>
							</td>
							<td>
								<a>
									<p> <span>{{(item.status.toLowerCase() != 'sold')?(item.possession | number:'1.0-0' ):"-"}}</span> </p>
									<svg width="54" height="54" viewBox="0 0 54 54" fill="none"
										xmlns="http://www.w3.org/2000/svg" class="actionArrow">
										<path d="M11.2502 27H42.7502" stroke="#221F1F" stroke-width="3"
											stroke-linecap="square"></path>
										<path d="M27.7715 11.25L43.5215 27L27.7715 42.75" stroke="#221F1F"
											stroke-width="3" stroke-linecap="square"></path>
									</svg>
								</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

		<div *ngIf="isMobile && priceTableListData.length != 0"  class="filter_results_mob">
			
			<div  *ngFor="let item of priceTableListData" class="sold" (click)="navigate(item)" [className]="(item.status.toLowerCase() == 'sold')?'result_single sold':'result_single'"><a 
				 class="d-flex align-items-center justify-content-between w-100">
				<div  class="single_result_wrap">
					<!---->
					<p  class="apt_no">Unit No. <span
							>{{item.number}}</span></p>
					<!---->
					<p  class="total_price">Area:
						<!----><span >{{item.area | number:'1.0-2'}}</span>
						<!---->
					</p>
					<p  class="p_per_sq">Price per sq.ft: <span
							>{{item.ftPrice | number:'1.0-2'}}</span></p>
					<p  class="total_price">Total Price:
						<!----><span >{{(item.status.toLowerCase() != 'sold')?(item.totalPrice | number:'1.0-2'):"-"}}</span>
						<!---->
					</p>
					<p  class="total_price">Down Payment:<span
							>
							<!----><span >{{(item.status.toLowerCase() != 'sold')?(item.downPayment | number:'1.0-2'):"-"}}</span>
							<!---->
						</span></p>
					<p  class="total_price">Monthly Installments:<span
							>
							<!----><span > {{(item.status.toLowerCase() != 'sold')?(item.monthlyInstallment | number:'1.0-2'):"-"}}</span>
							<!---->
						</span></p>
					<p  class="total_price">Possession:<span > 
							<!----><span >{{(item.status.toLowerCase() != 'sold')?(item.possession | number:'1.0-2'):"-"}}</span>
							<!---->
						</span></p>
				</div>
				<div  class="action_td"><a 
						href="javascript:;"><svg  width="54" height="54"
							viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path  d="M11.2502 27H42.7502" stroke="#221F1F"
								stroke-width="3" stroke-linecap="square"></path>
							<path  d="M27.7715 11.25L43.5215 27L27.7715 42.75"
								stroke="#221F1F" stroke-width="3" stroke-linecap="square"></path>
						</svg></a><span  class="statusText"
						style="text-transform: uppercase;">Sold</span></div>
			</a></div>

		</div>
	</div>
</section>