

<div  id="mobileFirstScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" class="modal fade login-m">
    <div  role="document" class="modal-dialog modal-dialog-centered">
       <div  class="modal-content">
          <div  class="modal-content-m">
             <div  class="modal-header">
                <a  href="javascript:;" class="modal-logo"><img  src="assets/site/images/logo-colorful.svg" alt="logo"></a>
                <h5  id="exampleModalLongTitle" class="modal-title">Welcome to <span >Gharbaar.com</span></h5>
                <p >Pakistan’s #1 Home Buying Resource</p>
             </div>
             <div  class="modal-sub">
                <div  class="btnsNew-m"><a  href="javascript:;" class="second-btn">Continue as Guest</a></div>
             </div>
          </div>
          <div  class="bottomImg-m"></div>
       </div>
    </div>
 </div>
 <div  id="splashScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" class="modal fade login-m splash-m">
    <div  role="document" class="modal-dialog modal-dialog-centered">
       <div  class="modal-content">
          <div  class="modal-content-m">
             <div  class="modal-header">
                <div  class="animatedSplash"><a  href="javascript:;" class="modal-logo"><img  src="assets/site/images/splashlogo.svg" alt="splashlogo"></a><img  src="assets/site/images/splashSub.png" alt="splashSub" class="splashAnimate"></div>
             </div>
          </div>
       </div>
    </div>
 </div>