<div class="container-fluid">

    

    <section class="row"> 
        <div class="col-md-4">
            <label>Name</label> <br />
            <p>Muhmmad Uzair Danyal</p> 
        </div>

        <div class="col-md-4">
            <label>Email</label> <br />
            <p>uzair.danyal@softosol.com</p> 
        </div>
        <div class="col-md-4">
            <label>Contact #</label> <br />
            <p>03158435696</p> 
        </div>

    </section>               

    <p>    
        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Change Password
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form class="row g-3 needs-validation form-row justify-content-around" novalidate>
                <!-- <div class="form-row justify-content-around"> -->
                
                      <div class="col-md-4">
                        <label for="inputFloor" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Enter your current password
                        </div>
                      </div>
        
                      <div class="col-md-4">
                        <label for="inputDownPayment" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                          Provide correct email.
                        </div>
                      </div>
        
                      <div class="col-md-4">
                        <label for="inputFloor" class="form-label">Confirm Password</label>
                        <input type="password"  class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                          Provide contact # 
                        </div>
                      </div>
        
        
                      <div class="col-md-12 justify-content-end  mt-4 row">
                          <button type="button" class="btn btn-outline-danger  mb-3 mr-2" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Cancel</button>
                          <button type="button" class="btn btn-primary  mb-3" type="submit">Save</button>
                      </div>
        
                <!-- </div> -->
            </form>
        </div>
      </div>              
</div>