
	<section class="experience-luxury">
		<section class="topNavLogo">
			<div class="navInner">
				<div class="logo-m">
					<a  routerLink="/"><img src="assets/logo_townOaks2.png" alt="logo top" class="dsk-view"></a>
				</div>
			</div>
		</section>
		<section class="headerPadding"></section>
		<section class="scheduleVisit completed">
			<div class="container">
				<div class="inner">
					<div class="heroSec"><img src="/assets/site/projects/e-park/consultation.jpg" alt=""></div>
					<div class="svFormWrap row">
						<div id="scheduleForm-section" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="bgGrad">
								<div class="visitForm">
									<form novalidate="" autocomplete="off" class="ng-untouched ng-pristine ng-invalid">
										<p class="keypoint"> Learn the best-hidden secrets of under-construction property investment and make a fortune with one right decision! Visit our site office and get a hands-on experience of what it is like to invest in luxury! </p>
										<div class="row">
											<div class="svSingle col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div class="fields ddArrow">
													<input type="text" placeholder="Select Date" formcontrolname="date" id="datePicker" bsdatepicker="" readonly="" class="form-control ng-untouched ng-pristine ng-invalid">
													
												</div>
											</div>
											<div class="svSingle col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div class="form-group ddArrow timePicker">
													<input readonly="" formcontrolname="time" type="text" id="tpCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Select a Time" class="form-control ng-untouched ng-pristine ng-invalid">
													<div aria-labelledby="tpCard" class="timePickerCard dropdown-menu p-0 m-0 border-0"><span class="tpTitle">Available Slots</span>
														<ul>
															<li class="inactive">08:00</li>
															<li class="inactive">08:30</li>
															<li class="inactive">09:00</li>
															<li class="inactive">09:30</li>
															<li class="inactive">10:00</li>
															<li class="inactive">10:30</li>
															<li class="inactive">11:00</li>
															<li class="inactive">11:30</li>
															<li class="inactive">12:00</li>
															<li class="inactive">12:30</li>
															<li class="inactive">13:00</li>
															<li class="inactive">13:30</li>
															<li class="inactive">14:00</li>
															<li class="inactive">15:30</li>
															<li class="inactive">15:00</li>
															<li class="inactive">16:30</li>
															<li class="inactive">17:00</li>
															<li class="inactive">17:30</li>
															<li class="inactive">18:00</li>
															<li class="inactive">18:30</li>
															<li class="inactive">19:00</li>
															<li class="inactive">19:30</li>
															<li class="inactive">20:00</li>
															<li class="inactive">20:30</li>
															
														</ul>
													</div>
												</div>
											</div>
											<div class="svSingle col-xs-12">
												<div class="fields">
													<input formcontrolname="fullName" type="text" placeholder="Enter full name here" autocomplete="off" class="form-control ng-untouched ng-pristine ng-invalid">
												</div>
											</div>
											<div class="svSingle col-xs-12">
												<div class="fields">
													<input formcontrolname="mobileNumber" type="text" placeholder="Enter phone no. here" autocomplete="off" class="form-control regxValidate ng-untouched ng-pristine ng-invalid">
												</div>
											</div>
											<div class="svSingle col-xs-12">
												<div class="fields">
													<input formcontrolname="email" type="email" placeholder="Enter email here" autocomplete="off" class="form-control full-input ng-untouched ng-pristine ng-invalid">
												</div>
											</div>
											<div class="svSingle col-xs-12">
												<label class="label-field radio-type">Pick your mode of consultation session</label>
												<div class="fields">
													<label class="appatments label-field"><span>Online Session</span>
														<input type="radio" name="consult" formcontrolname="consult" value="Online Session" class="ng-untouched ng-pristine ng-invalid"><span class="checkmark"></span></label>
													<label class="appatments label-field"><span>In-house Visit</span>
														<input type="radio" name="consult" formcontrolname="consult" value="In-house Visit" class="ng-untouched ng-pristine ng-invalid"><span class="checkmark"></span></label>
												</div>
												
											</div>
											
											
										</div>
										<div class="submit-schedule">
											<input type="submit" value="Book my Session!" class="ctaBtn">
											
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="svFormHead">
								<h2>One-on-One Investment Consultation &amp; Site Tour</h2>
								<h4 class="subHeading"><img src="assets/site/images/location_icon.svg" alt="">4GF, Aviation Arcade, Main Markaz, Block A, Faisal Town.</h4></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- <app-messenger _nghost-serverapp-c50=""></app-messenger> -->
		
	</section>